body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navbar styles */

nav {
  background-color: blueviolet;
  height: 80px;
  position: absolute;
  width: 100%;
}

nav img {
  height: 4em;
  border-radius: 100%;
}

.nav-wrapper {
  width: 85%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.links a {
  margin-left: 2em;
}
