@import url("https://fonts.googleapis.com/css2?family=Kirang+Haerang&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kirang Haerang";
}

/* Navbar styles */

nav {
  /* background-color: #ffffff63; */
  height: 80px;
  position: fixed;
  width: 100%;
}

.nav-set {
  background-color: #ffffff63;
  transition: background-color 0.5s ease-in-out;
}

nav img {
  height: 4em;
  border-radius: 100%;
}

nav h1 {
  color: #233b91;
}

.nav-wrapper {
  width: 85%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.links a {
  margin-left: 2em;
  color: #233b91;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 550;
}
