@import url("https://fonts.googleapis.com/css2?family=Kirang+Haerang&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kirang Haerang";
  /* background-color: #f1f1f1; */
  background-color: #dceefc;
  background-color: #9dcdfe;
}

p {
  color: rgb(66, 66, 66);
}

/* Navbar styles */

nav {
  /* background-color: #ffffff63; */
  height: 80px;
  position: fixed;
  width: 100%;
}

.nav-set {
  background-color: #9dcdfe;
  transition: all 0.5s ease-in-out;
  border-bottom: 1px solid #f1f1f1;
}

nav img {
  height: 4em;
  border-radius: 100%;
}

nav h1 {
  color: #fff;
  font-size: 3em;
}

.nav-wrapper {
  width: 85%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.links a {
  margin-left: 2em;
  color: #fff;
  text-decoration: none;
  font-size: 2em;
  font-weight: 550;
}

#Man {
  animation: parachuteman 2s infinite ease-in-out alternate;
}

#cloud-left, #cloud-middle, #cloud-right {
  animation: cloud 1s infinite ease-in-out alternate;
}

@keyframes parachuteman {
  from{
    transform: translateY(0px);
  } to {
      transform: translateY(20px);
  }
}

@keyframes cloud {
  from{
    transform: translateY(0px);
  } to {
    transform: translateY(8px);
  }
}

/* db6137  DD8046  517136 233b91*/